{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="catalogue-container">
        <div class="navbar"><span class="title">Cesiflix</span></div>
        <div class="search">
            {{ render(controller(
                'App\\Controller\\RechercheController::searchBar'
            )) }}
        </div>
        {% if resultRecherche is defined and resultRecherche['response'] == "True" %}
            <div class="thumbnail-list">
                {% for film in resultRecherche['films'] %}

                    <div class="thumbnail">
                        {% if film['Poster'] == "N/A"  %}
                            <div class="thumbnail-na">
                                <div>{{film["Title"]}}</div>
                                <img class="" src="{{ asset("build/nopic.png") }}" alt="{{film["Title"]}}">
                            </div>
                        {% else %}
                            <img class="" src="{{ film['Poster'] }}"  alt="{{ film["Title"]}}">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {% for i in 1..resultRecherche['nbPages'] %}
                    {% if i == resultRecherche['currentPage'] %}
                        <div class="active">
                            {% if resultRecherche['titleSearch'] is defined %}
                                <a href="{{ path('recherche', {currentPage: i , titleSearch: resultRecherche['titleSearch']}) }}">{{ i }}</a>
                            {% else %}
                                <a href="{{ path('catalogue', {currentPage: i}) }}">{{ i }}</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="">
                            {% if resultRecherche['titleSearch'] is defined %}
                                <a href="{{ path('recherche', {currentPage: i , titleSearch: resultRecherche['titleSearch']}) }}">{{ i }}</a>
                            {% else %}
                                <a href="{{ path('catalogue', {currentPage: i}) }}">{{ i }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% elseif resultRecherche is defined and resultRecherche['response'] == "False" %}
            <div class="search-no-result">Pas de résultat pour votre recherche</div>
        {% else %}
            <div class="search-no-result">Pas de résultat pour votre recherche</div>
        {% endif %}

        <div class="footer">Cesiflix est une propriété de Mehabli Rayane & Beaufils Geoffroy ©</div>

    </div>
{% endblock %}
