{% extends 'base.html.twig' %}

{% block title %}Cesiflix - Catalogue{% endblock %}

{% block body %}
    <div class="catalogue-container">
        <div class="navbar">
            <span class="title"><a href="/accueil" >CesiFlix</a></span>
            <div>
                {% if not favori %}
                    <a href="{{ path('favori', { currentPage : 1 }) }}"><img class="icon-nav" src="{{ asset("build/star-yellow.png") }}" alt="go aux favoris"></a>
                {% else %}
                    <a href="/catalogue"><img class="icon-nav" src="{{ asset("build/home.png") }}" alt="retourner à l'accueil"></a>
                {% endif %}
            </div>
        </div>
        {% if not favori %}
            <div class="search">
                {{ render(controller(
                    'App\\Controller\\RechercheController::searchBar'
                )) }}
            </div>
        {%  endif %}
        {% if resultRecherche is defined and resultRecherche['response'] == "True" %}
            <div class="thumbnail-list">
                {% for film in resultRecherche['films'] %}
                    <a class="thumbnail" href="{{ path('details', {idFilm: film["imdbID"] }) }}">
                        {% if film['Poster'] == "N/A"%}
                            <div class="thumbnail-na">
                                <div>{{film["Title"]}}</div>
                                <img class="" src="{{ asset("build/nopic.png") }}" alt="{{film["Title"]}}">
                            </div>
                        {% else %}
                            <img class="" src="{{ film['Poster'] }}"  alt="{{ film["Title"]}}">
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
            {% if not favori %}
                <div class="pagination">
                    {% for i in 1..resultRecherche['nbPages'] %}
                        {% if i == resultRecherche['currentPage'] %}
                            <div class="active">
                                {% if resultRecherche['titleSearch'] is defined %}
                                    <a href="{{ path('recherche', {currentPage: i , titleSearch: resultRecherche['titleSearch']}) }}">{{ i }}</a>
                                {% else %}
                                    <a href="{{ path('catalogue', {currentPage: i}) }}">{{ i }}</a>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="">
                                {% if resultRecherche['titleSearch'] is defined %}
                                    <a href="{{ path('recherche', {currentPage: i , titleSearch: resultRecherche['titleSearch']}) }}">{{ i }}</a>
                                {% else %}
                                    <a href="{{ path('catalogue', {currentPage: i}) }}">{{ i }}</a>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

        {% elseif resultRecherche is defined and resultRecherche['response'] == "False" %}
            <div class="search-no-result">Pas de résultat pour votre recherche</div>
        {% else %}
            <div class="search-no-result">Pas de résultat pour votre recherche</div>
        {% endif %}

        <div class="footer">Cesiflix est une propriété de Mehabli Rayane & Beaufils Geoffroy ©</div>

    </div>
{% endblock %}
