{% extends 'base.html.twig' %}

{% block title %}Cesiflix - {{ detailsFilm['Title'] }}{% endblock %}

{% block body %}
    <div class="catalogue-container">
        <div class="navbar">
            <span class="title"><a href="/accueil"> CesiFlix</a></span>
            <div>
                <a href="/catalogue"><img src="{{ asset("build/home.png") }}" alt="retourner à l'accueil"></a>
                <a href="{{ path('favori', { currentPage : 1 }) }}"><img class="icon-nav" src="{{ asset("build/star-yellow.png") }}" alt="go aux favoris"></a>
            </div>

        </div>

        <div class="detail-container">
            <div class="thumbnail-detail">
                {% if detailsFilm['Poster'] == "N/A"%}
                    <img  src="{{ asset("build/nopic.png") }}" alt="{{detailsFilm["Title"]}}">
                {% else %}
                    <img src="{{ detailsFilm['Poster'] }}"  alt="{{ detailsFilm["Title"]}}">
                {% endif %}
            </div>
            <div class="informations">

                <h2><b>Titre : {{ detailsFilm['Title'] }}</b>
                    <a  class="favori btn {{ (detailsFilm['favori']) ? 'btn-warning' : 'btn-secondary'}} favori_btn"
                         data-id = "{{ detailsFilm['imdbID'] }}"
                         data-url="{{ path('editFavori', {'id': detailsFilm['imdbID']}) }}" href="javascript:void(0)">
                        {{ (detailsFilm['favori']) ? 'Retirer des favoris' : 'Ajouter aux favoris'}}
                    </a></h2>
                <div>Synopsis : {{ detailsFilm['Plot'] }}</div>
                <div>Durée : {{ detailsFilm['Runtime'] }}</div>
                <div>Genre : {{ detailsFilm['Genre'] }}</div>
                <div>Type : {{ detailsFilm['Type'] }}</div>
                <div>Sortie: {{ detailsFilm['Released'] }}</div>
                <div>Année de production : {{ detailsFilm['Year'] }}</div>
                <div>Origine : {{ detailsFilm['Country'] }}</div>
                <div>Note : {{ detailsFilm['imdbRating'] }}/10</div>
            </div>
        </div>
        <div class="footer">Cesiflix est une propriété de Mehabli Rayane & Beaufils Geoffroy ©</div>

    </div>
{% endblock %}
